<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
	<title>Insert title here</title>
</head>
<body>
	<div id="googleSignIn"></div>
	<a href="#" onclick="signOut();">Sign out</a>
	
	<!-- 引入JS 時先帶入參數，onload 指定platform.js 載入完後執行哪個function -->
	<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
	<script>
		// 載入platform.js 完成後，要執行的便是指定渲染登入按鈕的區塊
		function renderButton() {
			gapi.signin2.render("googleSignIn", {
				"scope": "profile email",
				"width": 240,
				"height": 50,
				"longtitle": true,
				"theme": "dark",
				"onsuccess": onSuccess,
				"onfailure": onFailure
			});
		}

    	// 登入成功後要觸發的function
		function onSuccess(googleUser) {
			var profile = googleUser.getBasicProfile();
			console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
			console.log('Name: ' + profile.getName());
			console.log('Image URL: ' + profile.getImageUrl());
			console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
		}
		
    	// 登入失敗時要觸發的function
		function onFailure(error) {
			console.log(error);
		}
		
    	// 登出時要觸發的function
		function signOut() {
			var auth2 = gapi.auth2.getAuthInstance();
			auth2.signOut().then(function () {
				console.log('User signed out.');
			});
		}
	</script>
</body>
</html>